<div class="login-container">
    <div class="login-left">
      <!-- Imagen en la parte izquierda -->
      <img
        src="../../Assest/logo1.jpg"
        alt="Imagen de fondo"
        class="login-image"
      />
    </div>
    <div class="login-right">
      <form (ngSubmit)="onSubmit()">
        <h2>Iniciar Sesión</h2>
  
        <!-- Campo para el nombre de usuario -->
        <div class="form-group">
          <label for="nombreUsuario">Nombre de usuario</label>
          <input
            type="text"
            id="nombreUsuario"
            name="nombreUsuario"
            [(ngModel)]="nombreUsuario"
            required
            placeholder="Introduce tu nombre de usuario"
            class="form-input"
          />
        </div>
  
        <!-- Campo para la contraseña -->
        <div class="form-group">
          <label for="contrasena">Contraseña</label>
          <input
            type="password"
            id="contrasena"
            name="contrasena"
            [(ngModel)]="contrasena"
            required
            placeholder="Introduce tu contraseña"
            class="form-input"
          />
        </div>
  
        <!-- Botones -->
        <div class="button-group">
          <button type="submit" class="btn btn-primary">Ingresar</button>
          <button type="button" class="btn btn-secondary" (click)="limpiarCampos()">
            Limpiar
          </button>
        </div>
  
        <!-- Mensaje de error -->
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
        <!-- Enlace para registrarse -->
        <p class="register-link">
          ¿No tienes una cuenta? <a href="#" (click)="abrirRegistro($event)">Regístrate aquí</a>
        </p>

        <!-- Modal de registro -->
        <div class="modal" *ngIf="mostrarModal">
          <div class="modal-content">
            <span class="close" (click)="cerrarRegistro()">&times;</span>
            <h2>Registro de Usuario</h2>
            <form (ngSubmit)="registrarUsuario()">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" [(ngModel)]="nuevoUsuario.nombre" name="nombre" required />
              </div>

              <div class="form-group">
                <label for="apellidoPat">Apellido Paterno</label>
                <input type="text" id="apellidoPat" [(ngModel)]="nuevoUsuario.apellidoPat" name="apellidoPat" required />
              </div>

              <div class="form-group">
                <label for="apellidoMat">Apellido Materno</label>
                <input type="text" id="apellidoMat" [(ngModel)]="nuevoUsuario.apellidoMat" name="apellidoMat" required />
              </div>

              <div class="form-group">
                <label for="edad">Edad</label>
                <input type="number" id="edad" [(ngModel)]="nuevoUsuario.edad" name="edad" required />
              </div>

              <div class="form-group">
                <label for="usuario">Nombre de Usuario</label>
                <input type="text" id="usuario" [(ngModel)]="nuevoUsuario.usuario" name="usuario" required />
              </div>

              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" [(ngModel)]="nuevoUsuario.password" name="password" required />
              </div>

              <button type="submit" class="btn btn-primary">Registrarse</button>
            </form>
          </div>
        </div>
      </form>
    </div>
  </div>